@page "/register"
@rendermode InteractiveServer


<PageTitle>Register</PageTitle>

<h3>Register</h3>

<EditForm Model="user" OnValidSubmit="HandleRegistation">
    <DataAnnotationsValidator />
    <div class="mb-3">
         <label for="email"> Email</label>
        <InputText Id="email" Class="form-control" @bind-Value="user.Email" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>
    <div class="mb-3">
         <label for="password"> Password </label>
        <InputText Id="password" Class="form-control" @bind-Value="user.Password" type="password" />
        <ValidationMessage For="@(() => user.Password)" />
    </div>
    <div class="mb-3">
        <label for="confirmPassword"> Confirm Password</label>
        <InputText Id="confirmPassword" Class="form-control" @bind-Value="user.ConfirmPassword" type="password"/>
        <ValidationMessage For="@(() => user.ConfirmPassword)" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div class="@messageCssClass">
        <span>@message</span>
    </div>
</EditForm>


@code {
}
